html {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.banner-content {
  margin-top: 15% !important;
}
/* Logo */
.logo {

    padding-right: 40%;

}
/* banner sideheader */
.sideheader, .paragraph, .request-demo {
    margin-left: 60px;
}
/* banner list images */
.firsticon {
    list-style-image: url("../img/icon/icons.png");
}
/* list headers */
.listheader{
  font-size: 30px;
font-weight: bold;
}
/* our story phone css */
.col-lg-4.aboutphone {
    background-image: url("../img/Ourstory_Bg.png");
    width: 50% !important;
    display: block ruby;
}
.imagephone {
    margin-left: 20%;
    margin-right: -30%;
}
.container.ourstory {
    margin-left: 10%;
}

/* navbar bg */
.bg-light {
    background-color: #fff !important;
}
/* Our features */
.story.Features {
    margin-left: 60px;
}

.paragraph.Features {
    margin-left: 60px;
    font-weight: lighter;
}
/* Why wc comtainer css */
.contain {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 25px;
}

/* footer */
.page-footer.font-small.stylish-color-dark.pt-12 {
    background-color: red;
    background-color:#133a5f;
    color:white;
}

element {

}
.navbar-expand-md .navbar-nav .nav-link {

    padding-right: 3.5rem;
    padding-left: .5rem;
    color: black;

}
.navbar-light .navbar-nav .nav-link {

    color: rgba(0,0,0,.5);

}
.navbar-expand-md .navbar-nav .nav-link {

    padding-right: .5rem;
    padding-left: .5rem;

}
.navbar-nav .nav-link {

    padding-right: 0;
    padding-left: 0;

}
.nav-link {

    display: block;
    padding: .5rem 1rem;
        padding-right: 1rem;
        padding-left: 1rem;

}
a {

    color: #133a5f !important;
    font-family: poppins;

}
.list-unstyled {
    padding-left: 0;
    list-style: none;
    font-family: poppins !important;
    font-weight: lighter !important;
}

.bg-light {
  background-color: white !important;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 3.5rem;
  padding-left: .5rem;
}

.nav-link.active {
    box-shadow: 0 3px 0 #2d5071;
    width: 13%
}

.sticky-top{
  padding-right: 180px;
}

.btn-primary {
  color: #fff !important;
  background-color: #2D5071;
  border-color: #0062cc;
}
.svg-inline--fa.fa-times.fa-w-12.no {
    color:
    #c54245;
}
.navbar-brand {
    padding-left: 3% !important;
}
.padding1 {
    margin-left: 9%;
}
.card.mb-5.mb-lg-0.hih {
    box-shadow: 2px 8px 13px  #2d5071;
}
.foot {

    color:  white !important;
    font-weight: lighter !important;

}
.request-demo{
  background-color: #2D5071;
  color: white !important;

}
.btn-primary:hover {
    color: #fff;
    background-color:#c84c4f !important;
border-color: #fff;
color: white !important;
}

.one-stop{
  margin-bottom: .5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  line-height: 1.2;
  color: black;
  font-size: 40px;
}

.solution{
  font-size: 50px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: black;

}
/* font for paragraph */
p {

    font-family: 'poppins', sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-overflow: inherit;

}
.story{
  font-size: 40px;
  font-weight: 590;
}

.ridge{
  background-image: url(img/Ourstory_Bg.png);
  background-repeat: no-repeat;
}

.wc-bg{
  background-image: url(img/Path.png);
}

@media only screen and (max-width: 768px) {
  .ridge{
  background-image: url(img/Ourstory_Bg.png);
  background-repeat: no-repeat;
  background-size: 50px  50px;
  background-position:
}
}

/* hr tag */
.strong {
  width: 6%;
  border: solid 2px #133A5F;
  float: left;
  margin-left: 60px;
}
.strong1 {
  width: 6%;
  border: solid 2px #133A5F;
  float: left;
}
.strong3 {
  width: 3%;
  border: solid 2px #133A5F;
  float: left;
  margin-left: 60px;
}
.paragraph{
  text-align: left;
}


.coloumn{
  background: #000;
  display: table-cell;
  padding: 10px;
  width: 33.33333%;
  text-align: center;
  color: #fff;
  vertical-align: middle;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  transition: .5s;

}
/*Why Witcurve*/

.why-wc{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin-top: 40px;
}

.dark{
  width: 4%;
  border: solid 2px
  #133A5F;
  float: left;
  margin-left: 47.75%;
}
.para {
    text-align: center;
    font-family: 'poppins';
    font-weight: lighter;
}


.row:nth-child(1) .coloumn:nth-child(1)
{
  background: #596270;
}
.row:nth-child(1) .coloumn:nth-child(2)
{
  background: #cf6768;
}
.row:nth-child(1) .coloumn:nth-child(3)
{
  background: #8accc3;
}


.row:nth-child(2) .coloumn:nth-child(1)
{
  background: #00acc1;
}
.row:nth-child(2) .coloumn:nth-child(2)
{
  background: #ff4350;
}
.row:nth-child(2) .coloumn:nth-child(3)
{
  background: #72768a;
}


/* Pricing Section starts */


*, *:before, *:after {
  box-sizing: inherit;
}

.background {
  padding: 0 25px 25px;
  position: relative;
  width: 100%;
}

.background::after {
  content: '';
  background: #60a9ff;
  background: -moz-linear-gradient(top, #60a9ff 0%, #4394f4 100%);
  background: -webkit-linear-gradient(top, #60a9ff 0%,#4394f4 100%);
  background: linear-gradient(to bottom, #60a9ff 0%,#4394f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60a9ff', endColorstr='#4394f4',GradientType=0 );
  height: 350px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

@media (min-width: 900px) {
  .background {
    padding: 0 0 25px;
  }
}



.panel {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 25px;
  position: relative;
  width: 100%;
  z-index: 10;
}

.pricing-table {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: column;
}

@media (min-width: 900px) {
  .pricing-table {
    flex-direction: row;
  }
}

.pricing-table * {
  text-align: center;
  text-transform: uppercase;
}

.pricing-plan {
  border-bottom: 1px solid #e1f1ff;
  padding: 25px;
}

.pricing-plan:last-child {
  border-bottom: none;
}

@media (min-width: 900px) {
  .pricing-plan {
    border-bottom: #000000;
    border-right: 1px solid #133A5F !important;
    flex-basis: 100%;
    padding: 25px 50px;
  }

  .pricing-plan:last-child {
    border-right: none;
  }
}

.pricing-img {
  margin-bottom: 25px;
  max-width: 100%;
}

.pricing-header {
  color: #888;
  font-weight: 600;
  letter-spacing: 1px;
}

.pricing-features {
  color: black;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 50px 0 25px;
}

.pricing-features-item {
  border-top: 1px solid #e1f1ff;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
}

.pricing-features-item:last-child {
  border-bottom: 1px solid #e1f1ff;
}

.pricing-price {
  color: black;
  display: block;
  font-size: 32px;
  font-weight: 700;
}

.pricing-button {
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  display: inline-block;
  margin: 25px 0;
  padding: 15px 35px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.pricing-button:hover,
.pricing-button:focus {
  background-color: #133A5F;
}

.pricing-button.is-featured {
  background-color: #133A5F;
  color: #fff;
}

.pricing-button.is-featured:hover,
.pricing-button.is-featured:active {
  background-color: #133A5F;
}

/*Social Section*/

.social a{
  font-size: 2.5rem;
  padding: 3rem;
  width: 21px;
}
.fa-facebook{
  color: #3b5998;
}
.fa-twitter{
  color: #00aced;
}
.fa-google-plus-g{
  color: #dd4b39
}
.fa-instagram{
  color:#517fa4;
}
.fa-youtube{
  color: #bb0000;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-youtube:hover {
  color: #d5d5d5;
}

/*footer*/
.footer-bg{
  background-image: url(img/BgShape1.png);
}
.copyright{
  background-color: white;
  color:black;
  text-align: center;
}

/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}






/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
