
<div class="row contact-row " style="justify-content: center; " >
    
        
        <div class="col  modal-form-div">
                <div class="modal-text-body " style="color: white;" >
                        To know more about the functionality, installation and pricing please fill out the contact form.
                        Alternatively can contact us by email or mobile.
                    </div>
            <div class="modal-form-header" style="padding-right: 15px; border-bottom: solid  white 1px ; margin-bottom: 2%; ">
               <b> Contact Form</b>
            </div>
            <div class="modal-form-body" style="width: 80%; margin-left: 10%; " >
                <form id="contact_form" 
                      action="https://docs.google.com/forms/d/e/1FAIpQLScvI-C7fBMSBwWXUfPtzw8osAsGiHTlkK8qERQS35cSFxj0YA/formResponse?embedded=true"
                      method="post" target="hidden_iframe"
                      onsubmit="submitted=true;"
                >
                <div class="form-group" style="width: 80%; margin-left: 10%; "  >
                <input type="text" name="entry.2005620554" class="form-control" placeholder="NAME" style="border-radius: 13px;" > 
                </div>
                <div class="form-group" style="width: 80%; margin-left: 10%; "  >
                <input type="text" name="entry.236427863" class="form-control" id="organisationname"
                placeholder="ORGANISATION NAME" style="border-radius: 13px;" >
                </div>
                <div class="form-group" style="width: 80%; margin-left: 10%; " >
                <input type="email" class="form-control" id="email" name="entry.1045781291" placeholder="EMAIL" style="border-radius: 13px;" >
                </div>
                <div class="form-group" style="width: 80%; margin-left: 10%; " >
                <input type="text" class="form-control" id="mobile-number" name="entry.1065046570" placeholder="MOBILE NUMBER" style="border-radius: 13px;" >
                </div>
                <div class="form-group" style="width: 80%; margin-left: 10%; " >
                <input type="text" class="form-control" id="city" name="entry.1166974658" placeholder="CITY/TOWN" style="border-radius: 13px;" >
                </div>
                <div class="form-group" style="width: 80%; margin-left: 10%; " >
                <textarea class="form-control" id="message" rows="7" placeholder="MESSAGE [optional]" name="entry.839337160" style="border-radius: 13px;" ></textarea>
                </div>
                <div class="modal-form-btn-div style="width: 80%; margin-left: 10%;>
                <button type="submit" class="btn modal-form-btn">REQUEST DEMO</button>
                </div><br>
                <div class="modal-text-footer">
                       <span style="color: white">Email:</span>
                        <span style="color: white">sales@witcurve.com</span>
                        <span style="color: white ">or Mobile</span>
                        <span style="color: white">+91-9800175292</span>
                    </div>
                </form>
                <!--<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScvI-C7fBMSBwWXUfPtzw8osAsGiHTlkK8qERQS35cSFxj0YA/viewform?embedded=true"-->
                        <!--width="510" height="1069" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>-->
                <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"
                        onload="if(submitted)  {window.location='./contact.html';}"></iframe>
            </div>
    
        </div>
    </div>
